# temporary, hidden and backup files

*~
*.bak
*.log
*.tmp
*_index
*.orig
*.swp
*.old


# binaries

*.pyc
*.pyo
*.pyz
*.zip
__pycache__
.mypy*
*.db


# build and env

build
0bin
env
venv
*.egg-info
dist
*.tar.gz
*.egg
*.in


# IDE

*.sublime-project
*-workspace
*_old*
.vscode

# JS

package-lock.json
node_modules
