/* logo */


.brand {
font-size: 38px !important;
padding: 0px 55px 3px !important;

text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
transition: all .2s linear;

}
.brand span {
font-size: 48px;
line-height: 0;

}
.brand em {
display: inline;
color: #D40202;
margin: 0px !important;
font-size: 27px;

}

/* body & other stuff */

body {
padding-top: 60px;
padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
}

.btn-group {
    float:left;
}

.paste-option {
    float:right;
}

#paste-content {
background-color:white;
}

select {
	width: 135px;
}

label {

display: inline;
margin-left: 18px;
font-style: italic;
font-size: 11px;
color: #888;
}

ul, ol {
padding: 0;
margin: 0;
}

p {
	margin: 0 0 20px;
}

.nav-header {
	font-size: 10px;
}

.form-options li{
	float: left;
	list-style-type: none;
}

form textarea {
    overflow-y:auto;
}

button.btn, input[type="submit"].btn {
	margin-left: 5px;
}

.well {
	padding-bottom: 40px;
	padding-right: 17px;
}

.legal {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-top: 30px;
}

.btn {
	margin-left: 5px;
}

form {
    padding-bottom:3em !important;
	padding-right: 17px;
}

.btn-primary {
	position:relative;
	top:-4px;
}


.linenums{
	padding:1em 50px;
}

ol.linenums li {
    line-height:14px;
}

ol.linenums span:first-child {
    border-left: solid 1px #999;
    padding-left:1em;
}

li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9
{
    list-style-type: decimal;
    background:inherit;
}
