[v-cloak] {
  display: none
}

.noscript {
  position: relative;
  top: 25%;
  border: 25px solid red;
}

/* logo */

.brand {
  font-size: 38px !important;
  padding: 0 !important;
  margin-left: 10%;

}

.brand span {
  font-size: 48px;
  line-height: 0;
}

.brand em {
  display: inline;
  color: #D40202;
  font-size: 27px;
}

.about {
  line-height: 13px;
  font-style: italic;
  text-align: right;
  padding-top: 9px;
  margin-bottom: 0 !important;
}

.center {
  text-align: center;
}

.about span {
  font-size: 10px;
}

/* body & other stuff */

.blk-space {
  height: 20px;
  display: block;
}

.sidebar-nav {
  padding: 9px 0;
}

select {
  width: 135px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  color: #2ea1d7;
}

a:hover {
  color: #1888bc;
}

p {
  margin: 0 0 20px;
}

.grey {
  color: #999;
}

.nav-list {
  padding-right: 0px !important;
  font-size: 12px;
}

blockquote {
  width: 630px;
  float: left;
}

.alert .title {
  display: block;
}

/* Footer */

/* See:
https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*/

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrap-content {
  flex: 1;
}

.footer {
  text-align: center;
  height: 60px;
  width: 100%;
  position: relative;
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 8px 0 0 0;
  background-color: #424141;
}

.footer li {
  list-style-type: none;
  display: inline;
}

.footer li span {
  color: #2ea1d7;
}

.footer li span:hover {
  color: #1888bc;
  text-decoration: underline;
  cursor: pointer;
}

.footer li:not(:last-child):after {
  content: ' -';
}

/* Home */

.btn-group {
  float: left;
}

html.file-upload p.file-upload {
  float: left;
  margin: 22px 0px 0px 21px;
  display: none;
}

html.file-upload p.file-upload {
  display: inherit;
}

html.no-file-upload p.file-upload {
  display: none;
}

input.btn-upload {
  position: relative;
  left: -6px;
  width: 100px;
  z-index: 1;
  margin-top: -13px;
}

input.hide-upload {
  position: relative;
  left: -80px;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 2;
  width: 80px;
  margin-top: -20px;
  cursor: pointer;
  cursor: hand;
  height: 24px;
}

/* Paste Page */

.paste-wrapper {
  width: 100%;
  text-align: center;
  background-color: #333333;
  margin-bottom: 8px;
}

.pre-wrapper {
  margin: 8px 0 8px 0;
}

.paste-wrapper img {
  width: 94%;
}

#paste-content.linenums {
  padding-left: 0;
}

.submit-form {
  display: none;
}

a#clip-button.hover {
  cursor: pointer;
  text-decoration: underline;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  list-style-type: decimal;
  background: inherit;
}

pre.prettyprint {
  width: 100%;
  min-height: 100px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 55px;
  /* IE indents via margin-left */
}

pre {
  white-space: pre-wrap;
  overflow: visible;
}

.reader-wrapper {
  color: #f2f2f2;
  max-width: 800px;
  width: 90%;
  text-align: justify;
  margin: auto;
  margin-top: 20px;
}

/* Common css */

.form-control,
.form-control:focus,
.form-control:disabled,
.form-control[readonly],
#paste-content {
  background-color: #375a7f;
  color: #f9fafc;
  border-radius: 3px;
}

.form-group {
  margin-bottom: 0;
}

.download-link {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.download-link a {
  color: #eee;
}

.download-link a:hover {
  text-decoration: none;
}

.select-date {
  width: 320px;
  float: right;
}

.select-date-clone {
  width: 60%;
  max-width: 320px;
}

.container-md {
  margin-top: 20px;
  padding-bottom: 130px;
}

form textarea {
  overflow-y: auto;
  min-height: 250px;
}

.legal {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  margin-top: 30px;
}

#alert-template {
  display: none;
}

/** Progress bar */

.progress {
  margin: 8px 0 8px 0;
  height: 1.5rem;
}

.progress .bar {
  width: 25%;
  padding: 12px;
  text-align: left;
}

/* Previous paste list */

.progress-container {
  margin: 8px 0 8px 0;
  clear: both;
}

html.local-storage .no-local-storage {
  display: none;
}

html.no-local-storage .local-storage {
  display: none;
}

canvas {
  border: 1px solid white;
}

.noscript {
  text-align: center;
  color: red;
  font-weight: bold;
}

#faq dt {
  margin: 2em 0 1em 0;
}

#faq p {
  margin: 1em;
}

#force-coloration {
  text-decoration: underline;
}

#expiration-tag {
  float: right;
  margin: 1em;
  background: grey;
  color: white;
  font-size: 0.8em;
  padding: 0 1ex;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#content.hover {
  background-color: #eee;
}

/* top Menu */

.topnav {
  height: 60px;
  background-color: #333;
}

.topnav .brand {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 175px;
}

.topnav .tagline {
  font-size: 0.9em;
  padding: 8px;
  float: left;
  margin-left: 20px;
}

.topnav .tagline span {
  font-style: italic;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Styling the sub menu */
nav {
  float: right;
  margin: 18px;

}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  color: white;
  background: #333333;
  padding: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #375A7F;
  border-radius: 3px;
  color: #FFF;
  text-decoration: none;

}

.submenu {
  position: relative;
}

.submenu ul {
  position: absolute;
  margin: 6px 0 0px 0px;
  width: fill-available;
  z-index: 999;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 0;
  width: 133px;
  border-top: 0px;
}

.submenu li {
  display: block;
  background: #375A7F;
  color: white;
  float: none;
}

/* Styling drop down links */
.submenu li a {
  background: transparent;
  padding: 10px;
  display: block;
}

.submenu li a:hover {
  background: gray;
}

/* Showing Submenu on hover*/
.submenu:hover ul {
  display: block;
}

/* Responsive */
@media screen and (max-width: 840px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav .tagline {
    display: none;
  }

  .brand {
    margin-left: 1%;
  }

  /* Fonts */
  .btn {
    font-size: 0.77em;
  }

  pre {
    font-size: 70%;
  }

}

/* reader mode */

#readable-paste-content {
  white-space: pre;
}
