/* logo */


.brand {
	font-size: 38px !important;
	padding: 0px 55px 3px !important;

	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.brand span {
	font-size: 48px;
	line-height: 0;
}

.brand em {
	display: inline;
	color: #D40202;
	margin: 0px !important;
	font-size: 27px;
}

.about {
	line-height: 13px;
	font-style: italic;
	text-align: right;
	padding-top: 9px;
	margin-bottom: 0px !important;
}

.about span{
	font-size: 10px;
}

/* body & other stuff */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

select {
	width: 135px;
}

label {
	display: inline;
	margin-left: 18px;
	font-style: italic;
	font-size: 11px;
	color: #888;
}

ul, ol {
	padding: 0;
	margin: 0;
}

li {
	margin-left: -9px;
}


p {
	margin: 0 0 20px;
}

.grey {
	color: #999;
}

.nav-list {
	padding-right: 0px !important;
	font-size: 12px;
}

blockquote {
	width: 630px;
	float: left;
}

h4 p {
	float: left;
	font-size: 80px;
	text-shadow: 1px 3px 1px #DDD, 0 0 4px #333;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	margin-right: 7px;
	margin-top: 3px;
}

h4#pixels-total {
	position: relative;
	width: 166px;
	float: right;
	margin: 8px 0 0 0;
	padding: 0 0 0 54px;
	font-size: 1.1em;
	line-height: 1.4;
	font-weight: normal;
	color: #777;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-top-right-radius: 6px;
	-moz-border-top-left-radius: 20px;
	border-top-right-radius: 6px;
	border-top-left-radius: 20px;
}

.greetings {
	clear: both;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}

.alert .title {
	display:block;
}

/* Home */

.btn-group {
    float:left;
}

html.file-upload p.file-upload {
	float: left;
	margin: 22px 0px 0px 21px;
	display: none;
}

html.file-upload p.file-upload {
	display:inherit;
}

html.no-file-upload p.file-upload {
	display:none;
}


input.btn-upload {
	position: relative;
	left: -6px;
	width: 100px;
	z-index: 1;
	margin-top: -13px;
}

input.hide-upload {
	position: relative;
	left: -110px;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0 ;
	z-index: 2;
	width: 100px;
	margin-top: -20px;
	cursor: pointer;
	cursor: hand;
	height: 49px;
}


/* Paste Page */

#paste-content {
	background-color: white;
	padding:1em;
}


#paste-content.done {
	background-color: white;
	padding-top:1em;
	padding-left:0;
}

.submit-form {
	display:none;
}

.paste-option {
    float:right;
}

a#clip-button.hover{
	cursor:pointer;
	text-decoration:underline;
}

li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9
{
    list-style-type: decimal;
    background: inherit;
}

.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 55px; /* IE indents via margin-left */
}
ol.linenums li {
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;
	line-height: 21px;
	font-size: 12px;

}

.kwd {
color: #66F;
}

.pun, .opn, .clo {
color: #0A0;
}

.lit {
color: #933;
}

.com {
color: #C0C;
}


/* Common css */

form {
    padding-bottom:3em !important;
	padding-right: 17px;
}

form textarea {
    overflow-y:auto;
}

button.btn, input[type="submit"].btn {
	margin-left: 5px;
}

.well {
	padding-bottom: 40px;
	padding-right: 17px;
}

.legal {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-top: 30px;
}

.btn {
	margin-left: 5px;
}

.btn-primary, .btn-danger {
	position:relative;
	top:-4px;
}

#alert-template {
	display: none;
}

/** Progress bar */

.progress {
	display:none;
}

.progress .bar {
	width: 25%;
	text-indent: 10px;
	text-align:left;
}

.lnk-option canvas {
	vertical-align:middle;
	margin-right:10px;
}


/* Previous paste list */

.previous-pastes .item {
	margin-top:5px;
	vertical-align:middle;
	line-height:24px;
	padding-left:1em;
}

li.item {
	margin-left: -13px;
	margin-right: -5px;
}

.previous-pastes canvas {
	display:block;
	float:left;
	margin-right:5px;
}

html.local-storage .no-local-storage {
	display:none;
}

html.no-local-storage .local-storage {
	display:none;
}

canvas {
	border: 1px solid white;
}

